<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Ajouter ou Modifier une tâche</title>
</head>

<body>

    <section class="container">
        <div class="mt-5" style="width: 600px;margin: auto; ">
            <% if (task._id) { %>
            <h3>Modification de la tâche</h3>
            <% } else { %>
            <h3>Ajouter une tâche</h3>

            <% } %>
            <h3></h3>
            <form class="jumbotron" action="/add-task" method="POST">
                <input type="hidden" name="_id" value="<%= task._id %>" id="">
                <div class="form-group">
                    <label>Titre *</label>
                    <input type="text" value="<%= task.title %>" name="title" required class="form-control" id="title">
                </div>

                <div class="form-group">
                    <label>Description *</label>
                    <textarea cols="10" rows="5" type="text" name="description" required
                        class="form-control" id="description"><%= task.description %></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>
                <small>* champs requis</small>
            </form>

        </div>

    </section>
<script src="https://kit.fontawesome.com/409e49babd.js" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>


</html>
<footer class="footer">
    Todo List - Djilali ABBES
</footer>