<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/todoList.css" />
    <title>Todo liste</title>
</head>

<body>
    <section class="container">
        <h1>Todo list</h1>
        <a type="button" class="btn btn-success mb-2" href="/task-form">Ajouter une tâche</a>
        <div>
            <%todoList.forEach(task=>{%>
            <div
                class="d-flex mb-3 p-2 task-<%= task._id %> <%= task.done ? 'list-group-item-success' : 'list-group-item-danger' %>">
                <div class="col-10">
                    <h3><%=task.title%></h3>
                    <p><%=task.description%></p>
                    <p class="text-muted">Créée le :<%=task.createdAt%> </p>
                    <% if (task.updatedAt) { %>
                    <p class="text-muted">Modifiée le :<%=task.updatedAt%> </p>
                    <% } %>
                   
                </div>
                <div class="col-2">
                    <%if(!task.done){%>
                    <button type="button" title="Déclarer comme tâche terminée" class="btn btn-success btn-task-done-<%= task._id %>" onclick="taskDone('<%=task._id%>',true)">
                        <i class="far fa-check-circle"></i>
                    </button>
                    <%}%>
                    <button type="button" title="Supprimer la tâche" class="btn btn-danger" onclick="deleteTask('<%=task._id%>',<%=task.done%>)"><i
                        class="far fa-trash-alt"></i></button>
                    <a type="button" title="Modifier tâche" class="btn btn-dark" href="/task-form?_id=<%= task._id %>"><i
                            class="far fa-edit"></i></a>
                </div>
            </div>

            <% })%>
        </div>



    </section>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/409e49babd.js" crossorigin="anonymous"></script>
    <script src="/js/todoList.js"></script>
</body>

</html>
<footer class=" jumbotron text-center">
    Todo List - Djilali ABBES
</footer>